/* Change color of display-name which is belong to same server */
.status a[href^="https://handon.club/"] .display-name {
    color:#ff6347 !important ;
}
/* Change visibility icon color (Followers-only)  */
.status .fa-lock::before {
    color: #fffacd !important ;
}
/* Change visibility icon format */
.status-unlisted .fa-retweet:after {
    content: "/" !important ;
}
/* Change visibility icon color (Direct) */
.status .fa-envelope::before {
    color: #FD0 !important ;
}
/* Enlarge custom emojis */
p > .emojione[alt^=":"]:only-child {
  width: 2.5em; height: 2.5em; margin: 0;
}
p > .emojione[alt^=":"]:active {
  width: 7em; height: 7em; margin: 0;
}
