.status a[href^='https://handon.club/'] .display-name::after {
    display: none !important ;
}
.status a[href^='https://dev.handon.club/'] .display-name::after {
    display: none !important ;
}
.notification a[href^='https://handon.club/'].notification__display-name::after {
    display: none !important ;
}
.notification a[href^='https://dev.handon.club/'].notification__display-name::after {
    display: none !important ;
}
