/**** visibility ****/

/* Change visibility icon color (Followers-only)  */
.status .fa-lock::before {
  color: $lock-color !important ;
}

.detailed-status .fa-lock::before {
  color: $lock-color !important ;
}

/* Change visibility icon color (Direct) */
.status .fa-at::before {
  color: $at-color !important ;
}

.detailed-status .fa-at::before {
  color: $at-color !important ;
}

/* Disable visibility icon when it is public */
.status-public .fa-globe::before {
  display: none !important ;
}

/* (Misskey compatibility) consider visibility of ultra-wide custom emojis */
.reply-indicator__content .status__content__text,
.status__content .status__content__text .emojione {
  width: auto !important;
}

.detailed-status .status__content .emojione {
  width: auto !important;
}

/**** compatibility 4.0 or before ****/

/* Add post button to side bar */
div.columns-area__panels__pane__inner a.column-link[href='/publish'] {
  background-color: #595aff;
  border: 6px;
  border-radius: 6px;
  color: $white;
}

div.columns-area__panels__pane__inner a.column-link.active[href='/publish'] {
  display: none;
}

/**** misc ****/

/* Change color of display-name who is belong to handon.club */
.status .handon-local-account {
  color: #ff6347 !important ;
}

/* Enlarge custom emojis */
p > .emojione[alt^=':']:active {
  width: 7em;
  height: 7em;
  margin: 0;
}
